<form action="/types/edit/<%= type.id %>" method="POST">
    <div class="mb-3">
      <input type="text" value= "<%= type.tipo %>" class="form-control" name="name" placeholder="Nombre Tipo">
    </div>
    <div class="mb-3">
      <button class="btn btn-success btn-block">
        Guardar
      </button>
    </div>
</form>