<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Añadir producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/productos/add" method="POST">
            <div class="mb-3">
              <input type="text" class="form-control" name="codigo" placeholder="Código producto">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="precio" placeholder="Precio">
            </div>
            <div class="mb-3">
              <select class="form-select" name="catalogo_id"> 
                <option selected hidden>Código catálogo</option>
                <% for (let codigo of codigos) { %>
                <option value="<%= codigo.id %>"><%= codigo.codigo_producto %></option>
                <% } %> 
              </select>
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-block">
                Guardar
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>