<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Añadir caso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/cases/add" method="POST">
              <div class="mb-3">
                <select class="form-select" name="type" aria-label="Default select example"> 
                    <option selected>Tipo de Caso</option>
                    <% for (let type of types) { %>
                    <option value="<%= type.id %>"><%= type.tipo %></option>
                    <% } %> 
                </select>
              </div>
              <div class="mb-3">
                  <select class="form-select" name="user" aria-label="Default select example"> 
                      <option selected>Usuario</option>
                      <% for (let user of users) { %>
                      <option value="<%= user.id %>"><%= user.nombre %></option>
                      <% } %> 
                  </select>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" name="subject" placeholder="Asunto">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" name="description" placeholder="Descripción">
              </div>
              <div class="mb-3">
                <button class="btn btn-success btn-block">
                  Guardar
                </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>