<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Añadir documento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form ref='uploadForm' id='uploadForm' action="/cases/upload" method="POST" encType="multipart/form-data">
          <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" name="formFile">
          </div>
          <div class="mb-3">
            <button class="btn btn-success btn-block">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>