<form action="/function/edit/<%= funcion.id %>" method="POST">
    <div class="mb-3">
      <input type="text" value= "<%= funcion.path %>" class="form-control" name="function" placeholder="Descripción">
    </div>
    <div class="mb-3">
      <button class="btn btn-success btn-block">
        Guardar
      </button>
    </div>
  </form>