<main class="index">
    <header class="masthead d-flex p-4">
        <div class="container text-center my-auto">
            <h1 class="mb-5">THEMIS</h1>
            <h3 class="mb-5" style="margin-left: 18rem; margin-right: 18rem;">
                <em>Bienvenido al Sistema de Facturación enfocado al área de servicios que ofrece el sector legal.</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="#">
                Comencemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>