<select class="form-select" name="role" aria-label="Default select example"> 
    <option selected>Rol</option>
    <% for (let role of roles) { %>
    <option value="<%= role.id %>"><%= role.descripcion %></option>
    <% } %> 
</select>