<div class="container-fluid px-4">
  <h1 class="mt-4">Nuevo Cliente</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="/usuarios/clientes">Clientes</a></li>
      <li class="breadcrumb-item active"><a>Nuevo Cliente</a></li>
  </ol>
  <%- include('../partials/message') %>
  <div class="card card-body">
      <form id="userForm" class="mt-2 row g-3">
          <div class="col-md-6 px-5">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
          </div>
          <div class="col-md-6 px-5">
            <label for="carnet" class="form-label">Carnet de Identidad</label>
            <input type="text" class="form-control" id="carnet">
          </div>
          <div class="col-md-6 px-5">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6 px-5">
            <label for="celular" class="form-label">Celular</label>
            <input type="password" class="form-control" id="celular">
          </div>
          <div class="col-md-12 px-5">
            <h4>Datos Factura</h4>
          </div>
          <div class="col-md-4 ps-5">
            <label for="razon_social" class="form-label">Razón Social</label>
            <input type="text" class="form-control" id="razon_social">
          </div>
          <div class="col-md-4 px-4">
            <label for="tipo" class="form-label">Tipo de Documento</label>
            <select class="form-select" name="tipo"> 
              <!-- <option selected value="">Tipo Documento de Identidad</option> -->
              <% for (let tipo of tipos) { %>
              <option value="<%= tipo.codigo_clasificador %>"><%= tipo.descripcion %></option>
              <% } %> 
            </select>
          </div>
          <div class="col-md-4 pe-5">
            <label for="numero_documento" class="form-label">Número Documento</label>
            <input type="text" class="form-control" id="numero_documento">
          </div>
          <div class="col-12 px-5">
            <label for="datos" class="form-label">Datos Adicionales</label>
            <textarea type="text" class="form-control" id="datos"></textarea>
          </div>
          <div class="mb-2 col-12 ps-5">
            <button type="submit" class="btn btn-primary save-user">Agregar</button>
          </div>
      </form>
  </div>
</div>