<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Añadir usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/user/add" method="POST">
            <div class="mb-3">
              <select class="form-select" name="role" aria-label="Default select example"> 
                <option selected>Rol</option>
                <% for (let role of roles) { %>
                <option value="<%= role.id %>"><%= role.descripcion %></option>
                <% } %> 
              </select>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="fullname" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="email" placeholder="Correo electrónico" >
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="cellphone" placeholder="Celular">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="identity" placeholder="Carnet de identidad">
            </div>
            <div class="mb-3">
              <button class="btn btn-success btn-block">
                Guardar
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>